<!DOCTYPE html>
<html>
<head>
    <title>Food Waste Reduction Platform</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>🍽️ Food Waste Reduction Platform</h1>

    <h3>Reducing Hunger, Reducing Waste</h3>

    <p>
        Connect Restaurants, NGOs and Delivery Partners
        to distribute surplus food.
    </p>

    <a href="/register">
        <button>Register</button>
    </a>

    <a href="/login">
        <button>Login</button>
    </a>

</body>
</html>
