<!DOCTYPE html>
<html>
<head>
    <title>Food Waste Reduction Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>🍽️ Food Waste Reduction Platform</h1>

<h3>Reducing Hunger, Reducing Waste</h3>

<p>
    Our platform connects restaurants with NGOs to ensure
    surplus food reaches people in need.
</p>

<a href="/donate">
    <button>Donate Food</button>
</a>

<a href="/login">
    <button>Login</button>
</a>

<a href="/register">
    <button>Register</button>
</a>

</body>
</html>
