<!DOCTYPE html>
<html>
<head>
    <title>NGO Dashboard</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>NGO Dashboard</h1>

<h3>Welcome {{ user_name }}</h3>

<a href="/logout">
    <button>Logout</button>
</a>

<hr>

<h2>Available Donations</h2>

{% for d in donations %}

<div class="card">

    <h3>{{ d.food_name }}</h3>

    <p>Quantity: {{ d.quantity }}</p>
    <p>Type: {{ d.food_type }}</p>
    <p>Location: {{ d.location }}</p>
    <p>Contact: {{ d.contact }}</p>

    <a href="/accept/{{ d.id }}">
        <button>
            Accept Donation
        </button>
    </a>

</div>

{% endfor %}

</body>
</html>